body{
  background-color: #eee;
}
.forecast {
  margin: auto;
  padding: 0.3rem;
  max-width: 800px;
}

.forecast > h1,
.day-forecast {
  margin: 0.5rem;
  padding: 0.3rem;
  font-size: 1.2rem;
}

.day-forecast {
  border-radius: 5px;
  border: 1px solid lightgrey;
  cursor: pointer;
}

.day-forecast h2 {
  font-size: 1.1rem;
}

.day-forecast{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
}
.day-forecast-text{
  min-width: 200px;
  margin: 0 2rem;
}
.day-forecast-image{
  padding: 1rem;
  margin: 0 2rem;
  font-size: 60pt;
}

footer{
  font-style: italic;
  font-size: smaller;
  text-align: right;
  padding: 0.3rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.temp-label{
  font-size: 4px;
  text-anchor: middle;
}
.weather-label{
  font-size: 8px;
  text-anchor: middle;
}
.graph-line{
  stroke: lightgrey;
}
